@import url('https://fonts.googleapis.com/css2?family=Public+Sans:ital,wght@0,100..900;1,100..900&display=swap');

h1 {
    margin: auto;
    width: fit-content;
    color: #004e42;
    font-family: 'Public Sans','Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-weight: 900;
    text-align: center;
    text-decoration: underline solid 5px;
}

h2 {
    margin: auto;
    color: #004e42;
    font-family: 'Public Sans', 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

p {
    font-family: 'Public Sans', 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}


/* ********* */
/* DROPDOWNS */
/* ********* */

/* Dropdown code from W3Schools: https://www.w3schools.com/howto/howto_js_dropdown.asp */

/* Dropdown Button */
.dropbtn {
    width: fit-content;
    background-color: #004e42;
    color: white;
    font-family: 'Public Sans', 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 1.5em;
    font-weight: 700;
    border: none;
    padding: 12px;
    cursor: pointer;
}

/* The container <div> - needed to position the dropdown content */
.dropdown {
    position: relative;
    display: inline-block;
}

/* Dropdown Content */
.dropdown-content {
    display: none;
    position: absolute;
    background-color: #00ab8e;
    min-width: 160px;
}

/* Links inside the dropdown */
.dropdown-content a {
    color: white;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

/* Show the dropdown menu in home page (toggled with JS) */
.show {
    display: grid;
    position: relative;
    grid-template-columns: repeat(4, min-content);
    gap: 50px;
    padding: 10px;
}

/* Show the dropdown menu in nav bar */
.show-block {
    display: block;
}


/* ************* */
/* PROFILE CARDS */
/* ************* */

.profileCard {
    width: fit-content;
    border: 1px solid black;
    background-color: white;
}

.profileCard > a {
    text-decoration: none;
    color: black;
}

.profileCard img {
    height: 200px;
}

.profileCard p {
    padding-left: 5px;
}


/* ****** */
/* HEADER */
/* ****** */

header {
    position: fixed;
    z-index: 1;
    width: 110%;
    margin-top: -8px;
    margin-left: -8px;
    padding-left: 50px;
    background-color: #004e42;
}

#logo {
    display: inline;
    float: left;
    width: 100px;
    border-style: none;
}

.headertxt {
    display: inline;
    float: left;
    margin: 35px 10px;
    text-align: left;
    text-decoration: none;
    color: white;
}


/* *** */
/* NAV */
/* *** */

nav {
    float: inline-start;
    display: inline;
    margin-left: 100px;
}

#navList {
    margin-top: 30px;
    margin-bottom: 0;
    list-style-type: none;
}

#navList > li {
    display: inline;
    margin-right: 75px;
}

#navList > li > a {
    font-family: 'Public Sans', 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 1.5em;
    font-weight: 700;
    color: white;
    text-decoration: none;
}

#navList .dropdown > .dropbtn{
    padding: 0;
}

#navList .dropdown > .dropdown-content {
    background-color: #004e42;
    font-family: 'Public Sans', 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

#accountimg {
    margin-bottom: -15px;
    width: 50px;
    border-style: none;
}


/* **** */
/* MAIN */
/* **** */

main {
    padding-top: 140px;
}

img {
    width: 200px;
    border: 5px solid black;
}

.titleh2 {
    width: fit-content;
    text-align: center;
}

button {
    height: 50px;
    width: 100px;
    border-style: solid;
    background-color: #00ab8e;
    font-family: 'Public Sans', 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

.backBtn {
    position: relative;
    bottom: 50px;
}


/* **** */
/* HOME */
/* **** */

#editMsg {
    margin: auto;
    width: fit-content;
    text-align: center;
}

#principalDropdown {
    grid-template-columns: min-content;
}

#allSchoolStaff{
    display: grid;
    grid-template-columns: repeat(5, min-content);
    gap: 50px;
    overflow-y: scroll;
    height: 600px;
    padding: 75px;
    background-color: #00ab8e;
}


/* ****** */
/* SEARCH */
/* ****** */

#searchContent {
    margin-left: 200px;
}

#filterSelect {
    background-color: #004e42;
    color: white;
    font-size: 1.5em;
    font-family: 'Public Sans', 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

#filterSelect option {
    background-color: #00ab8e;
}

/* All profile cards ordered by first name (display toggled by filterSelect using JS) */
#allCards_f {
    display: block;
}

/* All profile cards ordered by last name */
#allCards_l {
    display: none;
}

.alphabetHeading {
    padding-top: 120px;
    padding-bottom: 20px;
    color: black;
}

.alphabetDiv {
    display: grid;
    grid-template-columns: repeat(4, min-content);
    gap: 50px;
}

/* Sidebar alphabet links for first name ordered (displays toggled by filterSelect using JS) */
#alphabetLinks_f {
    display: block;
}

/* Sidebar alphabet links for last name ordered */
#alphabetLinks_l {
    display: none;
}

/* Alphabet Sidebar code from W3Schools: https://www.w3schools.com/howto/howto_js_sidenav.asp */

.sidebar {
    height: 90%;
    width: 100px;
    position: fixed;
    left: 0;
    top: 0;
    margin-top: 100px;
    background-color: #00ab8e;
    color: black;
    font-family: 'Public Sans', 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    overflow-x: hidden;
    overflow-y: scroll;
}
  
.sidebar a {
    margin-top: 20px;
    margin-left: 40px;
    text-decoration: none;
    font-size: 25px;
    color: black;
    display: block;
}

/* Back to Top button styling */
#backToTopBtn{
    position: fixed;
    z-index: 1;
    right: 0;
    bottom: 0;
    margin-right: 12%;
    margin-bottom: 50px;
}


/* ******* */
/* FACULTY */
/* ******* */

#departmentsDiv {
    display: grid;
    grid-template-columns: repeat(4, min-content);
    gap: 125px;
}

.departmentBtn {
    position: relative;
    height: 200px;
    min-width: 200px;
    background-color: #004e42;
    border: 1px solid black
}

.departmentBtn > h1 {
    position: absolute;
    top: 50%;
    left: 50%;
    margin: -40px 0 0 -90px;
    text-decoration: none;
    color: white;
}

#facultyStaff {
    display: grid;
    grid-template-columns: repeat(4, min-content);
    gap: 125px;
    padding: 10px;
    background-color: #00ab8e;
}


/* ********** */
/* DEPARTMENT */
/* ********** */

#departmentStaff {
    display: grid;
    grid-template-columns: repeat(4, min-content);
    gap: 125px;
    padding: 10px;
    background-color: #00ab8e;
}


/* ******* */
/* PROFILE */
/* ******* */

#profileimg {
    margin-right: auto;
    display: inline-block;
    margin-left: 50px;
    height: 400px;
    width: 400px;
}

#profileDetails {
    display: inline-block;
    vertical-align: top;
    margin-left: 100px;
}

.profileText {
    font-size: 1.17em;
}

ul li {
    font-size: 1.17em;
    font-family: 'Public Sans', 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}


/* ****************** */
/* LOGIN and REGISTER */
/* ****************** */

label {
    font-family: 'Public Sans', 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

input[type='text'] {
    font-family: 'Public Sans', 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

.msg {
    margin: auto;
    width: fit-content;
    text-align: center;
}

.loginForm {
    margin: auto;
    width: fit-content;
}

.loginBtn {
    display: block;
    margin: 0 auto;
}

#registerLink {
    margin: auto;
    width: fit-content;
}


/* **** */
/* EDIT */
/* **** */

input[type='file']::file-selector-button {
    height: 50px;
    width: 100px;
    border-style: solid;
    background-color: #00ab8e;
    font-family: 'Public Sans', 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}
