{% extends 'layout.html' %}
{% block content %}

<button type="button" onclick="history.back()">←Back</button>

<p>Department</p>
{{ department }}

<p>HOD: <a href="/profile/{{ department.hod.code }}">{{ department.hod }}</a></p>

Staff Members:
<div id="departmentStaff">

    {% for staffmember in department.staffmembers %}
        <div class="profileCard">
            <a href="/profile/{{ staffmember.code }}">
                <img src="{{ staffmember.photo }}">
                <p>{{ staffmember }}</p>
            </a>
        </div>
    {% endfor %}
</div>


{% endblock %}
