{% extends 'layout.html' %}
{% block content %}

<h2 class="titleh2">Department:</h2>
<h1>{{ department }}</h1>

<button type="button" onclick="history.back()" class="backBtn">←Back</button>

<h2>Head of Department: <a href="/profile/{{ department.hod.code }}">{{ department.hod }} ({{ department.hod.code }})</a></h2>
<br>
<br>

<h2>Staff Members:</h2>
<br>
<div id="departmentStaff">

    {% for staffmember in department.staffmembers %}
        <div class="profileCard">
            <a href="/profile/{{ staffmember.code }}">
                <img src="{{ staffmember.photo }}">
                <p>{{ staffmember }} ({{ staffmember.code }})</p>
            </a>
        </div>
    {% endfor %}
</div>


{% endblock %}
