{% extends 'layout.html' %}
{% block content %}

{% if current_user.is_authenticated %}

    <h1>Editing Website Data</h1>

    <button type="button" onclick="history.back()" class="backBtn">←Back</button>

    <h2>Download</h2>
    <p>Click on the button to download a CSV file and edit the current staff data.</p>

    <a href="/download" download="">
        <button type="button">Download</button>
    </a>

    <br>
    <br>

    <h2>Upload</h2>
    <p>After editing a CSV file, upload it to update the website's data.</p>
    <p>WARNING: Make sure that all changes are correct.</p>


    <form action="/upload" method="post" enctype="multipart/form-data">
        <input type="file" name="csv_file" accept=".csv" required>
        <button type="submit">Upload</button>
    </form>

    {% with messages = get_flashed_messages() %}
        {% if messages %}
            {% for message in messages %}
                <p>{{message}}</p>
            {% endfor %}
        {% endif %}
    {% endwith %}

{% else %}

    <h2>You do not have access to this page. You must be logged in for edit access.</h2>

{% endif %}

{% endblock %}