{% extends 'layout.html' %}
{% block content %}

{% set duplicate_check = [] %}

<h2 id="facultyh2">Faculty:</h2>
<h1>{{ faculty }}</h1>

<h2>HOF: <a href="/profile/{{ faculty.hof.code }}">{{ faculty.hof }} ({{ faculty.hof.code }})</a></h2>

Departments:
<div id="departmentsDiv">

    {% for department in faculty.departments %}
        <a href="/department/{{ department.id }}" class="departmentBtn">
            <h1>{{ department }}</h1>
        </a>
    {% endfor %}
</div>

All {{ faculty }} Staff:

<div id="facultyStaff">
    {% for department in faculty.departments %}

        {% for staffmember in department.staffmembers %}

            {% if duplicate_check[-1] != staffmember %}
                <div class="profileCard">
                    <a href="/profile/{{ staffmember.code }}">
                        <img src="{{ staffmember.photo }}">
                        <p>{{ staffmember }} ({{ staffmember.code }})</p>
                    </a>
                </div>
            {% endif %}
            {% if duplicate_check.append(staffmember) %}
            {% endif %}
        {% endfor %}
    {% endfor %}
</div>


{% endblock %}
