{% extends 'layout.html' %}
{% block content %}

{% set duplicate_check = [] %}

<h2 class="titleh2">Faculty:</h2>
<h1>{{ faculty }}</h1>

<h2>Head of Faculty: <a href="/profile/{{ faculty.hof.code }}">{{ faculty.hof }} ({{ faculty.hof.code }})</a></h2>
<br>
<br>

<h2>Departments:</h2>
<br>
<div id="departmentsDiv">

    {% for department in faculty.departments %}
        <a href="/department/{{ department.id }}" class="departmentBtn">
            <h1>{{ department }}</h1>
        </a>
    {% endfor %}

</div> <!-- departmentsDiv -->

<br>
<br>

<h2>All {{ faculty }} Staff:</h2>
<br>
<div id="facultyStaff">
    {% for department in faculty.departments %}

        {% for staffmember in department.staffmembers %}

            {% if staffmember in duplicate_check %}
            {% else %}

                <div class="profileCard">
                    <a href="/profile/{{ staffmember.code }}">
                        <img src="/static/img/photos/{{ staffmember.code }}.png" onerror="this.onerror=null;this.src='/static/img/placeholder.jpg';">
                        <p>{{ staffmember }} ({{ staffmember.code }})</p>
                    </a>
                </div> <!-- profileCard -->

            {% endif %}
            {% if duplicate_check.append(staffmember) %}
            {% endif %}
        {% endfor %}
    {% endfor %}
</div> <!-- facultyStaff -->


{% endblock %}