{% extends 'layout.html' %}
{% block content %}

<script src="{{url_for('static', filename='/js/tab.js')}}"></script>

<div id="editMsg">
    {% if current_user.is_authenticated %}
        <h2>Welcome {{ current_user.username }}!</h2>
        <h2>You are now logged in and have administrator access.</h2>
        <h2>You now have access to <a href="/edit">edit here</a> to change the website's staff data.</h2>
        <h2>You also now have access to <a href="/register">register</a> new administrators.</h2>
        <br>
    {% endif %}
</div> <!-- editMsg -->

<br>
<br>

<!-- Tab buttons -->
<div class="tab">
    <button class="tabBtn" onclick="openTab(event, 'principalTab')" id="defaultOpen">Principal</button>
    <button class="tabBtn" onclick="openTab(event, 'leadershipTeamTab')">Leadership Team</button>
    <button class="tabBtn" onclick="openTab(event, 'deansTab')">Deans</button>
    <button class="tabBtn" onclick="openTab(event, 'counsellorsTab')">Counsellors</button>
</div>

<!-- Principal Tab Content -->
<div id="principalTab" class="tabContent">
    {% for staffmember in staffmembers %}

        {% for position in staffmember.positions %}

            {% if position.group == "Principal" %}

                <div class="profileCard">
                    <a href="/profile/{{ staffmember.code }}">
                        <img src="/static/img/photos/{{ staffmember.code }}.png" onerror="this.onerror=null;this.src='/static/img/placeholder.jpg';">
                        <p>{{ staffmember }} ({{ staffmember.code }})</p>
                        <p>{{ position }}</p>
                    </a>
                </div> <!-- profileCard -->

            {% endif %}
        {% endfor %}
    {% endfor %}
</div> <!-- principalTab -->

<!-- Leadership Team Tab Content -->
<div id="leadershipTeamTab" class="tabContent">
    {% for staffmember in staffmembers %}

        {% for position in staffmember.positions %}

            {% if position.group == "Leadership Team" %}

                <div class="profileCard">
                    <a href="/profile/{{ staffmember.code }}">
                        <img src="/static/img/photos/{{ staffmember.code }}.png" onerror="this.onerror=null;this.src='/static/img/placeholder.jpg';">
                        <p>{{ staffmember }} ({{ staffmember.code }})</p>
                        <p>{{ position }}</p>
                    </a>
                </div> <!-- profileCard -->

            {% endif %}
        {% endfor %}
    {% endfor %}
</div> <!-- leadershipTeamTab -->

<!-- Deans Tab Content -->
<div id="deansTab"class="tabContent">
    {% for staffmember in staffmembers %}

        {% for position in staffmember.positions %}

            {% if position.group == "Deans" %}

                <div class="profileCard">
                    <a href="/profile/{{ staffmember.code }}">
                        <img src="/static/img/photos/{{ staffmember.code }}.png" onerror="this.onerror=null;this.src='/static/img/placeholder.jpg';">
                        <p>{{ staffmember }} ({{ staffmember.code }})</p>
                        <p>{{ position }}</p>
                    </a>
                </div> <!-- profileCard -->

            {% endif %}
        {% endfor %}
    {% endfor %}
</div> <!-- deansTab -->

<!-- Counsellors Tab Content -->
<div id="counsellorsTab" class="tabContent">
    {% for staffmember in staffmembers %}

        {% for position in staffmember.positions %}

            {% if position.group == "Counsellors" %}

                <div class="profileCard">
                    <a href="/profile/{{ staffmember.code }}">
                        <img src="/static/img/photos/{{ staffmember.code }}.png" onerror="this.onerror=null;this.src='/static/img/placeholder.jpg';">
                        <p>{{ staffmember }} ({{ staffmember.code }})</p>
                        <p>{{ position }}</p>
                    </a>
                </div> <!-- profileCard -->

            {% endif %}
        {% endfor %}
    {% endfor %}
</div> <!-- counsellorsTab -->

<br>
<br>

<h1>All School Staff</h1>
<br>
<div id="allSchoolStaff">
    {% for staffmember in staffmembers %}

        <div class="profileCard">
            <a href="/profile/{{ staffmember.code }}">
                <img src="/static/img/photos/{{ staffmember.code }}.png" onerror="this.onerror=null;this.src='/static/img/placeholder.jpg';">
                <p>{{ staffmember }} ({{ staffmember.code }})</p>
            </a>
        </div> <!-- profileCard-->

    {% endfor %}
</div> <!-- allSchoolStaff -->

{% endblock %}