{% extends 'layout.html' %}
{% block content %}

{% if current_user.is_authenticated %}
    <h1>Welcome {{ current_user.username }}!</h1>
    <h1>You are logged in.</h1>
{% else %}
    <h1>You are not logged in</h1>
{% endif %}

<!-- Dropdown code from W3Schools: https://www.w3schools.com/howto/howto_js_dropdown.asp -->
<div class="dropdown">
    <button onclick="toggleDropdown(principalDropdown)" class="dropbtn">Principal</button>
    <div id="principalDropdown" class="dropdown-content">
		{% for staffmember in staffmembers %}
            {% for position in staffmember.positions %}
                {% if position.group == "Principal" %}
                    <div class="profileCard">
                        <a href="/profile/{{ staffmember.code }}">
                            <img src="{{ staffmember.photo }}">
                            <p>{{ staffmember }} ({{ staffmember.code }})</p>
                            <p>{{ position }}</p>
                        </a>
                    </div>
                {% endif %}
            {% endfor %}
        {% endfor %}
    </div>
</div>

<br>
<br>

<div class="dropdown">
    <button onclick="toggleDropdown(leadershipTeamDropdown)" class="dropbtn">Leadership Team</button>
    <div id="leadershipTeamDropdown" class="dropdown-content">
		{% for staffmember in staffmembers %}
            {% for position in staffmember.positions %}
                {% if position.group == "Leadership Team" %}
                    <div class="profileCard">
                        <a href="/profile/{{ staffmember.code }}">
                            <img src="{{ staffmember.photo }}">
                            <p>{{ staffmember }} ({{ staffmember.code }})</p>
                            <p>{{ position }}</p>
                        </a>
                    </div>
                {% endif %}
            {% endfor %}
        {% endfor %}
    </div>
</div>

<br>
<br>

<div class="dropdown">
    <button onclick="toggleDropdown(deansDropdown)" class="dropbtn">Deans</button>
    <div id="deansDropdown" class="dropdown-content">
		{% for staffmember in staffmembers %}
            {% for position in staffmember.positions %}
                {% if position.group == "Deans" %}
                    <div class="profileCard">
                        <a href="/profile/{{ staffmember.code }}">
                            <img src="{{ staffmember.photo }}">
                            <p>{{ staffmember }} ({{ staffmember.code }})</p>
                            <p>{{ position }}</p>
                        </a>
                    </div>
                {% endif %}
            {% endfor %}
        {% endfor %}
    </div>
</div>

<br>
<br>

<div class="dropdown">
    <button onclick="toggleDropdown(counsellorsDropdown)" class="dropbtn">Counsellors</button>
    <div id="counsellorsDropdown" class="dropdown-content">
		{% for staffmember in staffmembers %}
            {% for position in staffmember.positions %}
                {% if position.group == "Counsellors" %}
                    <div class="profileCard">
                        <a href="/profile/{{ staffmember.code }}">
                            <img src="{{ staffmember.photo }}">
                            <p>{{ staffmember }} ({{ staffmember.code }})</p>
                            <p>{{ position }}</p>
                        </a>
                    </div>
                {% endif %}
            {% endfor %}
        {% endfor %}
    </div>
</div>

<br>
<br>

<h1>All School Staff</h1>
<br>
<div id="allSchoolStaff">
    {% for staffmember in staffmembers %}
        <div class="profileCard">
            <a href="/profile/{{ staffmember.code }}">
                <img src="{{ staffmember.photo }}">
                <p>{{ staffmember }} ({{ staffmember.code }})</p>
            </a>
        </div>
    {% endfor %}
</div>
{% endblock %}
