{% extends 'layout.html' %}
{% block content %}

<h1>Login</h1>
<br>

{% with messages = get_flashed_messages() %}
    {% if messages %}
        {% for message in messages %}
            <p class="msg">{{message}}</p>
        {% endfor %}
    {% endif %}
{% endwith %}

<br>

<form class="loginForm" action="#" method="post">

    <label for="username">Username:</label>
    <input type="text" name="username" required>

    <br>
    <br>

    <label for="password">Password:</label>
    <input type="password" name="password" required>

    <br>
    <br>

    <button class="loginBtn" type="submit">Submit</button>

</form>
<br>

<p id="registerLink">Or <a href="/register">register here</a></p>


{% endblock %}
