<a href="/">
    <h2>HOME</h2>
</a>
<a href="/search">
    <h2>SEARCH</h2>
</a>
<!-- Dropdown code from W3Schools: https://www.w3schools.com/howto/howto_js_dropdown.asp -->
<div class="dropdown">
    <button onclick="toggleDropdown(navDropdown)" class="dropbtn">
        <h2 class="dropbtn">Faculty</h2>
    </button>
    <div id="navDropdown" class="dropdown-content">
        <a href="/faculty/1">Sample Faculty</a>
        <a href="/faculty/2">Technology</a>
        <a href="/faculty/3">Link 3</a>
    </div>
</div>

<script src="{{url_for('static', filename='/js/dropdown.js')}}"></script>
