<a href="/">HOME</a>
<a href="/search">SEARCH</a>
<!-- Dropdown code from W3Schools: https://www.w3schools.com/howto/howto_js_dropdown.asp -->
<div class="dropdown">
    <button onclick="myFunction()" class="dropbtn">Faculty</button>
    <div id="myDropdown" class="dropdown-content">
      <a href="/faculty/1">Sample Faculty</a>
      <a href="/faculty/2">Technology</a>
      <a href="/faculty/3">Link 3</a>
    </div>
  </div>

<script src="{{url_for('static', filename='/js/dropdown.js')}}"></script>  