<ul id="navList">

    <li>
        <a href="/">Home</a>
    </li>

    <li>
        <!-- Dropdown code from W3Schools: https://www.w3schools.com/howto/howto_js_dropdown.asp -->
        <div class="dropdown">
            <button onclick="toggleDropdown(facultyDropdown)" class="dropbtn">Faculty</button>

            <div id="facultyDropdown" class="dropdown-content">
                <a href="/faculty/2">Technology</a>
                <a href="/faculty/3">Creative Arts</a>
                <a href="/faculty/4">English</a>
                <a href="/faculty/5">Languages</a>
                <a href="/faculty/6">Mathematics</a>
                <a href="/faculty/7">Physical Education and Health</a>
                <a href="/faculty/8">Science</a>
                <a href="/faculty/9">Social Sciences</a>
                <a href="/faculty/10">Student Support</a>
            </div> <!-- facultyDropdown -->
        </div> <!-- dropdown -->
    </li>

    <li>
        <a href="/search">Search</a>
    </li>

    <li>
        {% if current_user.is_authenticated %}

            <div class="dropdown">
                <img id="accountimg" src="/static/img/account.png">
                <button onclick="toggleDropdown(accountDropdown)" class="dropbtn">{{ current_user.username }}</button>

                <div id="accountDropdown" class="dropdown-content">
                    <a href="/edit">Edit</a>
                    <a href="/register">Register</a>
                    <a href="/logout">Logout</a>
                </div> <!-- accountDropdown -->
            </div> <!-- dropdown -->

        {% else %}
            <a href="/login">Login</a>
        {% endif %}
    </li>

</ul>
