{% extends 'layout.html' %}
{% block content %}

{% set duplicate_check = [] %}

<h2 class="titleh2">Profile:</h2>
<h1>{{ staffmember }}</h1>

<button type="button" onclick="history.back()" class="backBtn">←Back</button>

<div>
    <img id="profileimg" src="/static/img/photos/{{ staffmember.code }}.png" onerror="this.onerror=null;this.src='/static/img/placeholder.jpg';">

    <div id="profileDetails">
        <p class="profileText">Code: {{ staffmember.code }}</p>
        <p class="profileText">Division: {{ staffmember.division }}</p>
        <p class="profileText">Email: {{ staffmember.email }}</p>
        <p class="profileText">Likely location: {{ staffmember.likely_location }}</p>
        
        <p class="profileText">Faculty:</p>
        <ul>
            {% for department in staffmember.departments %}
                    {% if duplicate_check[0] != department.faculty %}
                        <li>
                            {{ department.faculty }}
                        </li>
                    {% endif %}
                    {% if duplicate_check.append(department.faculty) %}
                    {% endif %}
            {% endfor %}
        </ul>
        
        <p class="profileText">Department:</p>
        <ul>
            {% for department in staffmember.departments %}
                <li>{{ department }}</li>
            {% endfor %}
        </ul>

        <p class="profileText">Positions/Roles:</p>
        <ul>
            {% for position in staffmember.positions %}
                <li>{{ position }}</li>
            {% endfor %}
        </ul>
    </div>
</div>



{% endblock %}