{% extends 'layout.html' %}
{% block content %}

{% set duplicate_check = [] %}

<button type="button" onclick="history.back()">←Back</button>

<p>Profile</p>

<img src="{{ staffmember.photo }}">
<br>
{{ staffmember }}
<br>
Code: {{ staffmember.code }}
<br>
Division: {{ staffmember.division }}
<br>
Email: {{ staffmember.email }}
<br>
Likely location: {{ staffmember.likely_location }}
<br>
Faculty:
{% for department in staffmember.departments %}
    {% if duplicate_check[0] != department.faculty %}
        {{ department.faculty }},
    {% endif %}
    {% if duplicate_check.append(department.faculty) %}
    {% endif %}
{% endfor %}
<br>
Department:
{% for department in staffmember.departments %}
    {{ department }},
{% endfor %}
<br>
Positions/Roles:
{% for position in staffmember.positions%}
    {{ position }},
{% endfor %}

{% endblock %}