{% extends 'layout.html' %}
{% block content %}

<p>Search Directory</p>

<!-- Learning how to use WTForms -->
<!-- This form will likely be removed or reworked -->
<!-- <form method="POST" enctype="multipart/form-data">
    {# {{ form.csrf_token }} #}
    {# {{ form.staffmembers }}<br>{{ form.errors }} #}
    <input type="submit" value="Go to profile">
</form> -->



<p>Choose a filter to sort the results alphabetically:</p>
<select id="filterSelect">
    <option value="fname" selected>First name</option>
    <option value="lname">Last name</option>
</select>

<br>

{% set div_list = ["A","B","C","D","E","F","G","H","I","J","K","L","M","N","O", "P","Q","R","S","T","U","V","W","X","Y","Z"] %}

<div id="alphabetLinks_f">
    {% for i in range(div_list|length) %}
        <a href="#heading{{ div_list[i] }}_f">{{ div_list[i] }} &nbsp;</a>
    {% endfor %}
</div>

<div id="alphabetLinks_l">
    {% for i in range(div_list|length) %}
        <a href="#heading{{ div_list[i] }}_l">{{ div_list[i] }} &nbsp;</a>
    {% endfor %}
</div>

<div id="allCards_f">
    
    {% for i in range(div_list|length) %}
        <h2 id="heading{{ div_list[i] }}_f">{{ div_list[i] }}</h2>
        <div class="alphabetDiv">
            
            {% for staffmember in staffmembers_f %}
                
                {% if staffmember.fname[0] == div_list[i] %}
                    <div class="profileCard">
                        <a href="/profile/{{ staffmember.code }}">
                            <img src="{{ staffmember.photo }}">
                            <p>{{ staffmember }}</p>
                        </a>
                    </div>
                {% endif %}
            {% endfor %}
        </div>
    {% endfor %}

</div>

<div id="allCards_l">
    {% for i in range(div_list|length) %}
        <h2 id="heading{{ div_list[i] }}_l">{{ div_list[i] }}</h2>
        <div class="alphabetDiv">
            
            {% for staffmember in staffmembers_l %}
                
                {% if staffmember.lname[0] == div_list[i] %}
                    <div class="profileCard">
                        <a href="/profile/{{ staffmember.code }}">
                            <img src="{{ staffmember.photo }}">
                            <p>{{ staffmember }}</p>
                        </a>
                    </div>
                {% endif %}
            {% endfor %}
        </div>
    {% endfor %}
</div>

<script src="{{url_for('static', filename='/js/search.js')}}"></script>  

{% endblock %}
