{% extends 'layout.html' %}
{% block content %}

<p>Search Directory</p>

<!-- Learning how to use WTForms -->
<!-- This form will likely be removed or reworked -->
<!-- <form method="POST" enctype="multipart/form-data">
    {{ form.csrf_token }}
    {{ form.staffmembers }}<br>{{ form.errors }}
    <input type="submit" value="Go to profile">
</form> -->

<br>

<!-- Trying dropdown -->
<!-- <form>
    <label for="label">Sort by:</label>
    <select name="sort">
        <option value="First name">First name</option>
        <option value="Last name">Last name</option>
        <option value="Faculty">Faculty</option>
        <option value="Department">Department</option>
    </select>
    <input type="submit" id="myInput" onclick="myFunction()" value="foo">
</form> -->

<br>

<p>Click the button to sort the list alphabetically:</p>
<button onclick="sortFirstName()">Sort By First Name</button>
<button onclick="sortLastName()">Sort By Last Name</button>
<div id="allResults">
    {% for staffmember in staffmembers %}
            <a href="/profile/{{ staffmember.code }}">
                <p class="profileLinksText test">{{ staffmember }}</p>
            </a>
        <br>
    {% endfor %}
</div>

<script src="{{url_for('static', filename='/js/search.js')}}"></script>  

{% endblock %}
